.login-container {
    padding: 7% 3%;
}

.login-header {
    margin-bottom: 9%;
}

.login-header h2{
    font-size: 1.7rem;
  }
  
  .login-header p{
      font-size: 15px;
      color: rgb(171, 170, 170);
    }

    .checkbox-div {
        display: flex;
        justify-content: space-between;
    }

    .checkbox-div p{
        color: #EEA837;
        font-size: 14px;
        cursor: pointer;
    }

    .cp-container {
      padding: 3% 3% 19% 3%;  
    }

    .cp-header {
        margin-bottom: 4%;
    }

    @media (max-width: 768px) {
        .login-container {
            padding: 22% 6% 10% 6%;
        }

        .cp-container {
            padding: 22% 6% 19% 6%;  
          }
        
        .login-header p {
            font-size: 18px;
        }
        
        .login-header h2 {
            font-size: 1.8rem;
        } 
    }

    @media (max-width: 430px) {
        .login-container {
            padding: 55% 6% 10% 6%;
        }

        .cp-container {
            padding: 35% 6% 19% 6%;  
          }
    }