.graph-container {
    width: 100%;
    background-color: #0b0b0b;
    padding: 4% 7%;
    margin-bottom: 1.8%;
    border-radius: 6px;
}

.graph {
    padding-top: 3%;
}

@media (max-width: 820px) {
    .graph-container {
        padding: 2% 0 0 0;
        margin-bottom: 0;
}  

   .graph-responsive {
      display: flex;
      align-items: center;
      gap: 0.4rem;
}

   .graph-responsive p {
    font-size: 1.2rem;
   }
}



