.HB button {
    padding: 1rem 2rem;
    color: black;
    background-color: #EEA837;
    border-radius: 4px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.HB button:hover {
    transform: scale(1.02);
}

@media (max-width:1024px) {
    .HB button {
        width: 100%;
        font-size: 1.6rem;
        margin: 3% 0;
    }
}

@media (max-width:430px) {
    .HB button {
        font-size: 1.3rem;
    }
}