

/* SideBar design starts */
.sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 17%;
    height: 100vh;
    background-color: #0B0C0C;
    color: white;
    padding: 1.5% 0 7% 1.3%;
    margin-top: 5.5%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



.sidebar-align2 {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15%;
}

.sidebar-align3 img {
  width: 20px;
  height: 20px;
}

.adjust-colour {
  color: rgb(210, 206, 206);
}

.sidebar-align3 {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 7%;
}

.sidebar-buttondiv button {
  background-color: #363636;
  border: none;
  color: white;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.sidebar-align2:hover, .sidebar-align3:hover {
  color: #EEA837;
  cursor: pointer;
}
/* SideBar design stops */

.mid-container {
    display: flex;
    flex-grow: 1;
    margin: 5.5% 0 0 18.5%;
    display: flex;
    justify-content: space-between;
    color: rgb(240, 233, 233);
}

/* InvestorRightSide & MarketerRightSide design starts */
.irs-container {
    display: flex;
    flex-direction: column;
    flex: 0.29;
    width: 21%;
    height: 84%;
    background-color: #0B0C0C;
    position: fixed;
    right: 0;
    margin: 0 1% 2% 0;
    padding: 1% 2%;
    border-radius: 6px;
}

.irs-align {
    text-align: center;
}

.irs-container p {
    font-size: 1.2rem;
    color: rgb(205, 199, 199);
}

.irs-container h5 {
  font-size: 1.2rem;
}

.irs-align .irs-color {
    color: #EEA837;
}

.irs-stabilize {
    border-top: 1px solid rgb(88, 87, 87);
}

.irs-align1 {
    display: flex;
    justify-content: space-between;
    margin-top: 2.3%;
}

.mrs-align {
  margin: 5% 0;
}

 .mrs-align1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 4%;
}


 .mrs-align1 p {
  font-size: 1rem;
}
/* InvestorRightSide & MarketerRightSide design stops */

/* InvestorCenter design starts */
.ic-container {
  display: flex;
  flex-direction: column;
  flex: 0.71;
  font-size: 1.2rem;
}



.ic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ic-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5% 0 2% 0;
}

.ic-align1 {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.ic-align2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ic-none {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ic-adjust {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 1rem;
}

.ic-align3 {
  width: 100%;
}

.ic-align4 {
  padding: 3% 5%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.ic-headerp {
  padding: 0 0 0.8% 3%;
}

.ic-align5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(115, 101, 101);
  padding-bottom: 5px;
}
 


.ic-align6 {
  display: grid;
  grid-template-columns: 45% 40% 15%;
  padding-top: 5px;
}


.ic-adjust1 {
  display: flex;
  margin: 2% 0;
  justify-content: space-between;
  gap: 1rem;
}

.ic-align4color {
  background-color: #0B0C0C;
}

.ic-align4color img {
  width: 100%;
  margin: 4% 0;
}

.ic-align8 {
  width: 100%;
}

.ic-align9 {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.ic-align10 {
  width: 100%;
  background-color: #0B0C0C;
  padding: 2.5% 4%;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.ic-align10 h4 {
  padding: 2% 0 8% 0;
}

.ic-align10 button {
  width: 100%;
  background-color: #363636;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.ic-align h3 {
  font-size: 1.8rem;
}

.visible {
  display: none;
}

.ic-align7 p{
  font-size: 1rem;
}

/* InvestorCenter design starts */

/* MarketerCenter design starts */
.mc-align {
  display: flex;
  gap: 5rem;
}

.mc-align1 {
  background-color: #363636;
  display: flex;
  align-items: center;
  padding: 5px 8px;
  gap: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.mc-align1 img {
  width: 10px;
  height: 9px;
}

.ic-headerp select {
  background-color: #363636;
  color: white;
  border: none;
  outline: none;
  font-size: 1rem;
}

.mc-image {
  width: 20px;
  height: 20px;
  margin-left: 94%;
}

.mc-align2 {
  background-color: #292626;
  padding: 3% 1%;
  color: #EEA837;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.mc-align3 {
  padding: 3.7% 5%;
  background-color: #0B0C0C;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.mc-align4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5%;
}

.mc-span {
  color: #EEA837;
  font-size: 0.9rem;
}

.mc-responsive {
  display: flex;
  align-items: center;
}

.mc-responsive1 {
  visibility: hidden;
}

.mc-responsive2 {
  display: flex;
  gap: 5rem;
}

.mc-buttondiv button {
  display: none;
}

@media (max-width: 1280px) {
   .sidebar-container {
    margin-top: 7%;
    font-size: 1.1rem;
   }

   .mid-container {
    margin-top: 7%;
   }

   .irs-container p{
    font-size: 0.9rem;
   }
}

@media (max-width: 1024px) {

  body {
    background-color: #0B0B0B;
    width: 100%;
  }
  .sidebar-container {
    display: none;
  }

  .sidebar-buttondiv button {
    font-size: 1.5rem;
  }

  .irs-container {
    display: none;
  }

  .mid-container {
    width: 100%;
    margin: 0;
    color: rgb(240, 233, 233);
    flex-grow: none;
}

  .ic-container {
    display: flex;
    flex-direction: column;
    flex: none;
    width: 100%;
    padding: 18% 3% 0 3%;
    font-size: 1.4rem;
  }
  
  .ic-none {
    display: none;
  }
  
  .ic-header {
    display: block;
  }
  
  .ic-adjust {
    grid-template-columns: 1fr;
  }
  
  .ic-align4 {
    border-radius: 6px;
    padding: 5% 6%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.ic-align4 {
  border: 1px solid rgb(61, 57, 57);
}
  
  .ic-headerp {
    padding: 2% 0 2% 0.3%;
  }
  
  .ic-align6 {
    padding-top: 15px;

  }
  
  
  .ic-align4 p {
    font-size: 1.5rem;
  }
  
  .ic-adjust1 {
    display: block;
  }
  
  .ic-align4color img {
    margin: 6% 0 4% 0;
  }
  
  .ic-align8 {
     margin-top: 2%;
  }

  .ic-align3 {
    margin-bottom: 2%;
  }

  .ic-align9  {
    gap: 0.4rem;
  }

  .ic-align10 {
    border: 1px solid rgb(61, 57, 57);
}
  
  .ic-align10 h4 {
    padding: 4% 0 8% 0;
    font-size: 2rem;
  }
  
  .ic-align10 button {
    font-size: 1.5rem;
  }

  .visible {
    display: block;
  }

  .ic-align7 p{
    font-size: 1rem;
  }
  
  .mc-align {
    flex-direction: column-reverse;
    gap: 0.4rem;
  }

  .mc-responsive1 {
    visibility: visible;
  }

  .mc-responsive {
    display: flex;
    justify-content: space-between;
  }

  .mc-responsive2 {
    display: flex;
    gap: 1rem;
  }

  .mc-responsive3 {
    display: none;
  }
  
  .mc-responsive4 {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 6%;
  }

  .mc-responsive5 {
    border: 1px solid rgb(61, 57, 57);
  }
  
  .ic-headerp select {
    font-size: 1.3rem;
  }

  
  .mc-align4 {
    flex-direction: column;
    margin-bottom: 0;
  }
  
  .mc-span {
    font-size: 1.1rem;
  }

  .mc-buttondiv button{
    background-color: #363636;
  border: none;
  color: white;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 2%;
  }
  
}

@media (max-width: 430px) {
 .ic-container {
  font-size: 1rem;
  padding: 34% 3% 0 3%;
 }

 .ic-align10 h4 {
  font-size: 1.1rem;
 }

 .ic-align10 button {
  font-size: 0.5rem;
}

.ic-align4 p {
  font-size: 1.1rem;
}


.sidebar-buttondiv button {
  font-size: 1.2rem;
}



.ic-headerp {
  padding: 4% 0 2% 0.3%;
}


.ic-align8 {
   margin-top: 4%;
}

.ic-align3 {
  margin-bottom: 3%;
}

.visible {
  display: block;
}

.ic-align7 p{
  font-size: 0.9rem;
}

.mc-align2 p {
  font-size: 0.9rem;
}

.mc-align1 p {
  font-size: 0.8rem;
}

.mobile-responsive {
  font-size: 1rem;
}

}